openapi: 3.0.2
info:
  description: An OpenAPI specifications for unit-sdk clients
  title: Unit OpenAPI specifications
  version: 0.0.2
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.s.unit.sh
security:
- bearerAuth: []
tags:
- name: StopPayment
- name: Get Application
- name: Update Application
- name: Cancel Application
- name: Get List Applications
- name: Create Application
- name: Get List Application Forms
- name: Create ApplicationForm
- name: Upload a PNG Document for an Application
- name: Upload a JPEG Document for an Application
- name: Upload a PNG Document for an Application - Back Side
- name: Upload a JPEG Document for an Application - Back Side
- name: Get List of Documents
- name: Create a Document for an Application
- name: Verify a Document for an Application
- name: Download a Document
- name: Download a Document - Back Side
- name: Get Application Form
- name: Get List Accounts
- name: Create Account
- name: Get Account
- name: Update Account
- name: Get Account Limits
- name: Unfreeze Account
- name: Freeze an Account
- name: Close an Account
- name: Reopen an Account
- name: Enter Control Agreement for Account
- name: Activate Control Agreement for Account
- name: Deactivate Control Agreement for Account
- name: Get list account end-of-day balances history
- name: Get Customer
- name: Update Customer
- name: Get List Customers
- name: Archive Customer
- name: Get List Payments
- name: Create a Payment
- name: Get Payment
- name: Update Payment
- name: Cancel Payment
- name: Get Received Payments List
- name: Get Received Payment
- name: Update Received Payment
- name: Advance Received Payment
- name: Get List Counterparties
- name: Create Counterparty
- name: Delete Counterparty
- name: Get Counterparty
- name: Update Counterparty
- name: Get Counterparty Balance
- name: Get List Recurring Payments
- name: Create Recurring Payment
- name: Get Recurring Payment
- name: Disable Recurring Payment
- name: Enable Recurring Payment
- name: Get List of Cards
- name: Create a Card
- name: Get Card
- name: Update Card
- name: Get Card PIN Status
- name: Report Card as Stolen
- name: Report Card as Lost
- name: Close a Card
- name: Freeze a Card
- name: Unfreeze a Card
- name: Get Card Limits
- name: Get List Authorizations
- name: Get Authorization
- name: Get List Authorization Requests
- name: Get Authorization Request
- name: Approve Authorization Request
- name: Decline Authorization Request
- name: Get List Statements
- name: Get Statement HTML
- name: Get Statement PDF
- name: Get Bank verification PDF
- name: Get List Rewards
- name: Create Reward
- name: Get Reward
- name: Get List Events
- name: Get Event
- name: Fire Event
- name: Get Institution
- name: Create Fee
- name: Get List Check Deposits
- name: Create Check Deposit
- name: Get Check Deposit
- name: Update Check Deposit
- name: Confirm Check Deposit
- name: Get Check Deposit Front Image
- name: Get Check Deposit Back Image
- name: Get List Org API Tokens
- name: Create Org Api Token
- name: Revoke Org API Token
- name: Create Customer Token
- name: Create Customer Token Verification
- name: Get List Webhooks
- name: Create Webhook
- name: Get Webhook
- name: Update Webhook
- name: Enable Webhook
- name: Disable Webhook
- name: Get ATM Locations List
- name: Get Transaction
- name: Update Transaction
- name: Get List Transactions
- name: Get List Disputes
- name: Get Dispute
- name: Get List Repayments
- name: Create a Repayment
- name: Get Repayment
- name: Get List Check Payments
- name: Create Check Payment
- name: Get Check Payment
- name: Approve Check Payment
- name: Cancel Check Payment
- name: Return Check Payment
- name: Get a front image
- name: Get a back image
- name: Upload a PDF Document for an Application
- name: Upload a PDF Document for an Application - Back Side
paths:
  /applications/{applicationId}:
    get:
      description: 'Get an Application from API '
      operationId: GetApplication_byId
      parameters:
      - description: ID of the application to get
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetApplicationByIdResponse'
          description: Successful Response
      summary: Get Application by Id
      tags:
      - Get Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--applications-applicationId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Application via API '
      operationId: UpdateApplication_viaApi
      parameters:
      - description: ID of the application to update
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationViaApiRequest'
        description: Update Application Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Update Application
      tags:
      - Update Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--applications-applicationId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/cancel:
    post:
      description: 'Cancel a Application via API '
      operationId: CancelApplication_byId
      parameters:
      - description: ID of the application to get
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CancelApplicationByIdRequest'
        description: Cancel Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CancelApplicationByIdResponse'
          description: Successful Response
      summary: Cancel Application by Id
      tags:
      - Cancel Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--applications-applicationId-cancel
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /applications:
    get:
      description: 'Get List Applications from API '
      operationId: GetListApplications_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListApplications_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListApplicationsFromApi200Response'
          description: Successful Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListApplicationsFromApiResponse'
          description: Unexpected error
      summary: Get List Application
      tags:
      - Get List Applications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--applications
      x-accepts: application/json
    post:
      description: 'Create an Application via API '
      operationId: CreateApplication_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationViaApiRequest'
        description: Create Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateApplicationViaApiResponse'
          description: Successful Response
      summary: Create Application
      tags:
      - Create Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--applications
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /application-forms:
    get:
      description: 'Get List Application Forms from API '
      operationId: GetListApplicationForms_viaApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListApplicationForms_viaApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListApplicationFormsViaApiResponse'
          description: Successful Response
      summary: Get List Application Forms
      tags:
      - Get List Application Forms
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--application-forms
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Application Form via API '
      operationId: CreateApplicationForm_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationFormViaApiRequest'
        description: Create Application Form Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateApplicationFormViaApiResponse'
          description: Successful Response
      summary: Create Application Form
      tags:
      - Create ApplicationForm
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--application-forms
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /applications/{applicationId}/documents/{documentId}:
    put:
      description: 'Upload a PNG file via API '
      operationId: UploadAPngDocumentForAnApplication_byId
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          image/png:
            schema:
              $ref: '#/components/schemas/UploadAPngDocumentForAnApplicationByIdRequest'
        description: Upload PNG File
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Upload a PNG document
      tags:
      - Upload a PNG Document for an Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--applications-applicationId-documents-documentId
      x-content-type: image/png
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/?:
    put:
      description: 'Upload a JPEG file via API '
      operationId: UploadAJpegDocumentForAnApplication_viaApi
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          image/jpeg:
            schema:
              $ref: '#/components/schemas/UploadAJpegDocumentForAnApplicationViaApiRequest'
        description: Upload JPEG File
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Upload a JPEG document
      tags:
      - Upload a JPEG Document for an Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--applications-applicationId-documents-documentId-?
      x-content-type: image/jpeg
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back:
    put:
      description: Upload a PNG file via API - Back Side
      operationId: UploadAPngDocumentForAnApplicationBackSide_put
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          image/png:
            schema:
              $ref: '#/components/schemas/UploadAPngDocumentForAnApplicationBackSidePutRequest'
        description: Upload PNG File - Back Side
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Upload a PNG document - Back Side
      tags:
      - Upload a PNG Document for an Application - Back Side
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--applications-applicationId-documents-documentId-back
      x-content-type: image/png
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back/?:
    put:
      description: Upload a JPEG file via API - Back Side
      operationId: UploadAJpegDocumentForAnApplicationBackSide_put
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          image/jpeg:
            schema:
              $ref: '#/components/schemas/UploadAJpegDocumentForAnApplicationBackSidePutRequest'
        description: Upload JPEG File - Back Side
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Upload a JPEG document - Back Side
      tags:
      - Upload a JPEG Document for an Application - Back Side
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--applications-applicationId-documents-documentId-back-?
      x-content-type: image/jpeg
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents:
    get:
      description: 'Get List of Documents via API '
      operationId: GetListOfDocuments_viaApi
      parameters:
      - description: ID of the application to get documents for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListOfDocumentsViaApiResponse'
          description: Successful Response
      summary: Get List of Documents
      tags:
      - Get List of Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--applications-applicationId-documents
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a document via API '
      operationId: CreateADocumentForAnApplication_viaApi
      parameters:
      - description: ID of the application to create a file for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CreateADocumentForAnApplicationViaApiResponse'
          description: Successful Response
      summary: Create a document
      tags:
      - Create a Document for an Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--applications-applicationId-documents
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/verify:
    put:
      description: 'Verify a document via API '
      operationId: VerifyADocumentForAnApplication_put
      parameters:
      - description: ID of the application to verify a file for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to verify
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyADocumentForAnApplicationPutRequest'
        description: Verify Document
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema'
          description: Successful Response
      summary: Verify a document
      tags:
      - Verify a Document for an Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--applications-applicationId-documents-documentId-verify
      x-content-type: application/json
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/download:
    get:
      description: 'Download a Document via API '
      operationId: DownloadADocument_viaApi
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to download
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DownloadADocumentViaApiResponse'
          description: Successful Response
      summary: Download a Document
      tags:
      - Download a Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--applications-applicationId-documents-documentId-download
      x-accepts: application/octet-stream
  /applications/{applicationId}/documents/{documentId}/download/back:
    get:
      description: Download a Document - Back Side via API
      operationId: DownloadADocumentBackSide_viaApi
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to download
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DownloadADocumentBackSideViaApiResponse'
          description: Successful Response
      summary: Download a Document - Back Side
      tags:
      - Download a Document - Back Side
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--applications-applicationId-documents-documentId-download-back
      x-accepts: application/octet-stream
  /application-forms/{applicationFormId}:
    get:
      description: 'Get an Application Form from API '
      operationId: GetApplicationForm_byId
      parameters:
      - description: ID of the application form to get
        explode: false
        in: path
        name: applicationFormId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetApplicationFormByIdResponse'
          description: Successful Response
      summary: Get ApplicationForm by Id
      tags:
      - Get Application Form
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--application-forms-applicationFormId
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts:
    get:
      description: 'Get List Accounts from API '
      operationId: GetListAccounts_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListAccounts_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAccountsFromApiResponse'
          description: Successful Response
        "401":
          description: UnitError
      summary: Get List Accounts
      tags:
      - Get List Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create Account via API '
      operationId: CreateAccount_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAccountViaApiRequest'
        description: Create Account Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Create Account
      tags:
      - Create Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}:
    get:
      description: 'Get an Account from API '
      operationId: GetAccount_byId
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAccountByIdResponse'
          description: Successful Response
      summary: Get Account by Id
      tags:
      - Get Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Account via API '
      operationId: UpdateAccount_viaApi
      parameters:
      - description: ID of the account to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountViaApiRequest'
        description: Update Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateAccountViaApiResponse'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Update Account
      tags:
      - Update Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--accounts-accountId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /accounts/{accountId}/limits:
    get:
      description: 'Get Account Limits from API '
      operationId: GetAccountLimits_byId
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAccountLimitsByIdResponse'
          description: Successful Response
      summary: Get Account Limits by Id
      tags:
      - Get Account Limits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-limits
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/unfreeze:
    post:
      description: 'Unfreeze an Account via API '
      operationId: UnfreezeAccount_byId
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Unfreeze Account by Id
      tags:
      - Unfreeze Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-unfreeze
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/freeze:
    post:
      description: 'Freeze Account via API '
      operationId: FreezeAnAccount_byId
      parameters:
      - description: ID of the account to freeze
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FreezeAnAccountByIdRequest'
        description: Freeze Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Freeze Account by Id
      tags:
      - Freeze an Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-freeze
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/close:
    post:
      description: 'Close an Account via API '
      operationId: CloseAnAccount_byId
      parameters:
      - description: ID of the account to close
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CloseAnAccountByIdRequest'
        description: Close Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Close an Account by Id
      tags:
      - Close an Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-close
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/reopen:
    post:
      description: 'Reopen an Account via API '
      operationId: ReopenAnAccount_byId
      parameters:
      - description: ID of the account to close
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Reopen an Account by Id
      tags:
      - Reopen an Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-reopen
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/enter-daca:
    post:
      description: 'Enter Control Agreement for Account via API '
      operationId: EnterControlAgreementForAccount_byId
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Enter Account Control Agreement by Id
      tags:
      - Enter Control Agreement for Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-enter-daca
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/activate-daca:
    post:
      description: 'Activate Control Agreement for Account via API '
      operationId: ActivateControlAgreementForAccount_byId
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Activate Account Control Agreement by Id
      tags:
      - Activate Control Agreement for Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-activate-daca
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/deactivate-daca:
    post:
      description: Deactivate Control Agreement for Account via API
      operationId: DeactivateControlAgreementForAccount_byId
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
        "404":
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Deactivate Account Control Agreement by Id
      tags:
      - Deactivate Control Agreement for Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-deactivate-daca
      x-accepts: application/vnd.api+json; charset=utf-8
  /account-end-of-day:
    get:
      description: 'Get AccountEndOfDay List from API '
      operationId: GetListAccountEndofdayBalancesHistory_fromApi
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAccountEndofdayBalancesHistoryFromApiResponse'
          description: Successful Response
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
      summary: Get AccountEndOfDay List
      tags:
      - Get list account end-of-day balances history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-end-of-day
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}:
    get:
      description: 'Get a Customer from API '
      operationId: GetCustomer_byId
      parameters:
      - description: ID of the customer to get
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1customers~1%7BcustomerId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Get Customer by Id
      tags:
      - Get Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--customers-customerId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Customer via API '
      operationId: UpdateCustomer_viaApi
      parameters:
      - description: ID of the customer to update
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerViaApiRequest'
        description: Update Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerViaApiResponse'
          description: Successful Response
      summary: Update Customer
      tags:
      - Update Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--customers-customerId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /customers:
    get:
      description: 'Get Customers List from API '
      operationId: GetListCustomers_apiList
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListCustomers_apiList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCustomersApiListResponse'
          description: Successful Response
      summary: Get Customers List
      tags:
      - Get List Customers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--customers
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}/archive:
    post:
      description: 'Archive a Customer via API '
      operationId: ArchiveCustomer_byId
      parameters:
      - description: ID of the customer to archive
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArchiveCustomerByIdRequest'
        description: Archive Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1customers~1%7BcustomerId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Archive Customer by Id
      tags:
      - Archive Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--customers-customerId-archive
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /payments:
    get:
      description: 'Get List Payments from API '
      operationId: GetListPayments_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListPayments_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListPaymentsFromApiResponse'
          description: Successful Response
      summary: Get List Payments
      tags:
      - Get List Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Payment via API '
      operationId: CreateAPayment_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAPaymentViaApiRequest'
        description: Create Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Create a Payment
      tags:
      - Create a Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /payments/{paymentId}:
    get:
      description: 'Get a Payment from API '
      operationId: GetPayment_byId
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetPaymentByIdResponse'
          description: Successful Response
      summary: Get Payment by Id
      tags:
      - Get Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payments-paymentId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Payment via API '
      operationId: UpdatePayment_viaApi
      parameters:
      - description: ID of the payment to update
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentViaApiRequest'
        description: Update Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdatePaymentViaApiResponse'
          description: Successful Response
      summary: Update Payment
      tags:
      - Update Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--payments-paymentId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /payments/{paymentId}/cancel:
    post:
      description: 'Cancel a Payment via API '
      operationId: CancelPayment_byId
      parameters:
      - description: ID of the payment to cancel
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Cancel a Payment by Id
      tags:
      - Cancel Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-paymentId-cancel
      x-accepts: application/vnd.api+json; charset=utf-8
  /received-payments:
    get:
      description: 'Get Received Payments from API '
      operationId: GetReceivedPaymentsList_fromApi
      parameters:
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetReceivedPaymentsListFromApiResponse'
          description: Successful Response
      summary: Get Received Payments List
      tags:
      - Get Received Payments List
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--received-payments
      x-accepts: application/vnd.api+json; charset=utf-8
  /received-payments/{paymentId}:
    get:
      description: 'Get a Received Payment from API '
      operationId: GetReceivedPayment_byId
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetReceivedPaymentByIdResponse'
          description: Successful Response
      summary: Get Received Payment by Id
      tags:
      - Get Received Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--received-payments-paymentId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Received Payment via API '
      operationId: UpdateReceivedPayment_viaApi
      parameters:
      - description: ID of the payment to update
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateReceivedPaymentViaApiRequest'
        description: Update Received Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateReceivedPaymentViaApiResponse'
          description: Successful Response
      summary: Update Received Payment
      tags:
      - Update Received Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--received-payments-paymentId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /received-payments/{paymentId}/advance:
    post:
      description: 'Advance a Received Payment via API '
      operationId: AdvanceReceivedPayment_byId
      parameters:
      - description: ID of the payment to advance
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1received-payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Advance Received Payment by Id
      tags:
      - Advance Received Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--received-payments-paymentId-advance
      x-accepts: application/vnd.api+json; charset=utf-8
  /counterparties:
    get:
      description: 'Get Counterparties List from API '
      operationId: GetListCounterparties_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListCounterparties_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCounterpartiesFromApiResponse'
          description: Successful Response
      summary: Get Counterparties List
      tags:
      - Get List Counterparties
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--counterparties
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a counterparty via API '
      operationId: CreateCounterparty_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCounterpartyViaApiRequest'
        description: Create Counterparty Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCounterpartyViaApiResponse'
          description: Successful Response
      summary: Create Counterparty
      tags:
      - Create Counterparty
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--counterparties
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /counterparties/{counterpartyId}:
    delete:
      description: 'Delete Counterparty via API '
      operationId: DeleteCounterparty_byId
      parameters:
      - description: ID of the counterparty to delete
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
      summary: Delete Counterparty by Id
      tags:
      - Delete Counterparty
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--counterparties-counterpartyId
      x-accepts: application/json
    get:
      description: 'Get a Counterparty from API '
      operationId: GetCounterparty_byId
      parameters:
      - description: ID of the counterparty to get
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCounterpartyByIdResponse'
          description: Successful Response
      summary: Get Counterparty by Id
      tags:
      - Get Counterparty
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--counterparties-counterpartyId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Counterparty via API '
      operationId: UpdateCounterparty_viaApi
      parameters:
      - description: ID of the counterparty to update
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCounterpartyViaApiRequest'
        description: Update Counterparty Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCounterpartyViaApiResponse'
          description: Successful Response
      summary: Update Counterparty
      tags:
      - Update Counterparty
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--counterparties-counterpartyId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /counterparties/{counterpartyId}/balance:
    get:
      description: 'Get Recurring Payment from API '
      operationId: GetCounterpartyBalance_recurringPaymentFromApi
      parameters:
      - description: ID of the counterparty to get
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCounterpartyBalanceRecurringPaymentFromApiResponse'
          description: Successful Response
      summary: Get Counterparty Balance
      tags:
      - Get Counterparty Balance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--counterparties-counterpartyId-balance
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments:
    get:
      description: 'Get Recurring Payments List from API '
      operationId: GetListRecurringPayments_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListRecurringPayments_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListRecurringPaymentsFromApiResponse'
          description: Successful Response
      summary: Get Recurring Payments List
      tags:
      - Get List Recurring Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-payments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Recurring Payment via API '
      operationId: CreateRecurringPayment_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRecurringPaymentViaApiRequest'
        description: Create Recurring Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRecurringPaymentViaApiResponse'
          description: Successful Response
      summary: Create Recurring Payment
      tags:
      - Create Recurring Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-payments
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /recurring-payments/{paymentId}:
    get:
      description: 'Get Recurring Payment from API '
      operationId: GetRecurringPayment_byId
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Get Recurring Payment
      tags:
      - Get Recurring Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-payments-paymentId
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/disable:
    post:
      description: 'Disable Recurring Payment via API '
      operationId: DisableRecurringPayment_viaApi
      parameters:
      - description: ID of the payment to disable
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Disable Recurring Payment
      tags:
      - Disable Recurring Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-payments-paymentId-disable
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/enable:
    post:
      description: 'Enable Recurring Payment via API '
      operationId: EnableRecurringPayment_viaApi
      parameters:
      - description: ID of the payment to enable
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema'
          description: Successful Response
      summary: Enable Recurring Payment
      tags:
      - Enable Recurring Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-payments-paymentId-enable
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards:
    get:
      description: 'Get List of Cards from API '
      operationId: GetListOfCards_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/GetListOfCards_fromApi_page_parameter'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListOfCards_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListOfCardsFromApiResponse'
          description: Successful Response
      summary: Get List of Cards
      tags:
      - Get List of Cards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cards
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Card via API '
      operationId: CreateACard_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateACardViaApiRequest'
        description: Create Card Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CreateACardViaApiResponse'
          description: Successful Response
      summary: Create a Card
      tags:
      - Create a Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}:
    get:
      description: 'Get a Card from API '
      operationId: GetCard_byId
      parameters:
      - description: ID of the card to get
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardByIdResponse'
          description: Successful Response
      summary: Get Card by Id
      tags:
      - Get Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cards-cardId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Card via API '
      operationId: UpdateCard_viaApi
      parameters:
      - description: ID of the card to update
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCardViaApiRequest'
        description: Update Card Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCardViaApiResponse'
          description: Successful Response
      summary: Update Card
      tags:
      - Update Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--cards-cardId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /cards/{cardId}/secure-data/pin/status:
    get:
      description: 'Get Card PIN Status via API '
      operationId: GetCardPinStatus_pinStatus
      parameters:
      - description: ID of the card to get PIN status
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardPinStatusPinStatusResponse'
          description: Successful Response
      summary: Get Card PIN Status
      tags:
      - Get Card PIN Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cards-cardId-secure-data-pin-status
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-stolen:
    post:
      description: 'Report card as stolen via API '
      operationId: ReportCardAsStolen_viaApi
      parameters:
      - description: ID of the card
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportCardAsStolenViaApiResponse'
          description: Successful Response
      summary: Report card as stolen
      tags:
      - Report Card as Stolen
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards-cardId-report-stolen
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-lost:
    post:
      description: 'Report lost as stolen via API '
      operationId: ReportCardAsLost_viaApi
      parameters:
      - description: ID of the card
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportCardAsLostViaApiResponse'
          description: Successful Response
      summary: Report lost as stolen
      tags:
      - Report Card as Lost
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards-cardId-report-lost
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/close:
    post:
      description: 'Close a Card via API '
      operationId: CloseACard_viaApi
      parameters:
      - description: ID of the card to close
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CloseACardViaApiResponse'
          description: Successful Response
      summary: Close a Card
      tags:
      - Close a Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards-cardId-close
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/freeze:
    post:
      description: 'Freeze a Card via API '
      operationId: FreezeACard_viaApi
      parameters:
      - description: ID of the card to freeze
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FreezeACardViaApiResponse'
          description: Successful Response
      summary: Freeze a Card
      tags:
      - Freeze a Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards-cardId-freeze
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/unfreeze:
    post:
      description: 'Unfreeze a Card via API '
      operationId: UnfreezeACard_byId
      parameters:
      - description: ID of the card to unfreeze
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnfreezeACardByIdResponse'
          description: Successful Response
      summary: Unfreeze a Card
      tags:
      - Unfreeze a Card
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cards-cardId-unfreeze
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/limits:
    get:
      description: 'Get a Card Limits from API '
      operationId: GetCardLimits_byId
      parameters:
      - description: ID of the card to get
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardLimitsByIdResponse'
          description: Successful Response
      summary: Get Card Limit by Id
      tags:
      - Get Card Limits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cards-cardId-limits
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorizations:
    get:
      description: 'Get List Authorizations from API '
      operationId: GetListAuthorizations_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListAuthorizations_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAuthorizationsFromApiResponse'
          description: Successful Response
      summary: Get List authorizations
      tags:
      - Get List Authorizations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorizations/{authorizationId}:
    get:
      description: 'Get a Authorization from API '
      operationId: GetAuthorization_byId
      parameters:
      - description: ID of the authorization to get
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: includeNoneAuthorized
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAuthorizationByIdResponse'
          description: Successful Response
      summary: Get Authorization by Id
      tags:
      - Get Authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations-authorizationId
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests:
    get:
      description: 'Get List Authorization Requests from API '
      operationId: GetListAuthorizationRequests_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListAuthorizationRequests_fromApi_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAuthorizationRequestsFromApiResponse'
          description: Successful Response
      summary: Get List Authorization Requests
      tags:
      - Get List Authorization Requests
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorization-requests
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}:
    get:
      description: 'Get a Authorization Request from API '
      operationId: GetAuthorizationRequest_byId
      parameters:
      - description: ID of the authorization request to get
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAuthorizationRequestByIdResponse'
          description: Successful Response
      summary: Get Authorization Request by Id
      tags:
      - Get Authorization Request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorization-requests-authorizationId
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/approve:
    post:
      description: 'Approve a Authorization Request via API '
      operationId: ApproveAuthorizationRequest_byId
      parameters:
      - description: ID of the authorization request to approve
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ApproveAuthorizationRequestByIdRequest'
        description: Approve Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApproveAuthorizationRequestByIdResponse'
          description: Successful Response
      summary: Approve Authorization Request by Id
      tags:
      - Approve Authorization Request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--authorization-requests-authorizationId-approve
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/decline:
    post:
      description: 'Decline Authorization Request via API '
      operationId: DeclineAuthorizationRequest_viaApi
      parameters:
      - description: ID of the authorization request to decline
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DeclineAuthorizationRequestViaApiRequest'
        description: Decline Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DeclineAuthorizationRequestViaApiResponse'
          description: Successful Response
      summary: Decline Authorization Request
      tags:
      - Decline Authorization Request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--authorization-requests-authorizationId-decline
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /statements:
    get:
      description: 'Get List Statements from API '
      operationId: GetListStatements_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListStatements_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListStatementsFromApiResponse'
          description: Successful Response
      summary: Get List Statements
      tags:
      - Get List Statements
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--statements
      x-accepts: application/vnd.api+json; charset=utf-8
  /statements/{statementId}/html:
    get:
      description: 'Get a HTML Statement from API '
      operationId: GetStatementHtml_byId
      parameters:
      - description: ID of the statement to get
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/GetStatementHtmlByIdResponse'
          description: Successful Response
      summary: Get HTML Statement by Id
      tags:
      - Get Statement HTML
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--statements-statementId-html
      x-accepts: text/html
  /statements/{statementId}/pdf:
    get:
      description: 'Get a PDF Statement from API '
      operationId: GetStatementPdf_byId
      parameters:
      - description: ID of the statement to get
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetStatementPdfByIdResponse'
          description: Successful Response
      summary: Get PDF Statement by Id
      tags:
      - Get Statement PDF
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--statements-statementId-pdf
      x-accepts: application/pdf
  /statements/{accountId}/bank/pdf:
    get:
      description: 'Get Get Bank verification PDF from API '
      operationId: GetBankVerificationPdf_fromApi
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetBankVerificationPdfFromApiResponse'
          description: Successful Response
      summary: Get Bank verification PDF
      tags:
      - Get Bank verification PDF
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--statements-accountId-bank-pdf
      x-accepts: application/pdf
  /rewards:
    get:
      description: 'Get Rewards List from API '
      operationId: GetListRewards_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListRewards_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListRewardsFromApiResponse'
          description: Successful Response
      summary: Get Rewards List
      tags:
      - Get List Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rewards
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Reward via API '
      operationId: CreateReward_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardViaApiRequest'
        description: Create Reward Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRewardViaApiResponse'
          description: Successful Response
      summary: Create Reward
      tags:
      - Create Reward
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--rewards
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /rewards/{rewardId}:
    get:
      description: 'Get a Reward from API '
      operationId: GetReward_byId
      parameters:
      - description: ID of the reward to get
        explode: false
        in: path
        name: rewardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetRewardByIdResponse'
          description: Successful Response
      summary: Get Reward by Id
      tags:
      - Get Reward
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rewards-rewardId
      x-accepts: application/vnd.api+json; charset=utf-8
  /events:
    get:
      description: 'Get Events List from API '
      operationId: GetListEvents_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListEvents_fromApi_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListEventsFromApiResponse'
          description: Successful Response
      summary: Get Events List
      tags:
      - Get List Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events
      x-accepts: application/vnd.api+json; charset=utf-8
  /events/{eventId}:
    get:
      description: 'Get an Event from API '
      operationId: GetEvent_byId
      parameters:
      - description: ID of the event to get
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetEventByIdResponse'
          description: Successful Response
      summary: Get Event by Id
      tags:
      - Get Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events-eventId
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Fire an Event via API '
      operationId: FireEvent_byId
      parameters:
      - description: ID of the event to fire
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FireEventByIdResponse'
          description: Successful Response
      summary: Fire Event by Id
      tags:
      - Fire Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--events-eventId
      x-accepts: application/vnd.api+json; charset=utf-8
  /institutions/{routingNumber}:
    get:
      description: 'Get an Institution from API '
      operationId: GetInstitution_byRoutingNumber
      parameters:
      - description: routingNumber of the institution to get
        explode: false
        in: path
        name: routingNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetInstitutionByRoutingNumberResponse'
          description: Successful Response
      summary: Get Institution by Routing Number
      tags:
      - Get Institution
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--institutions-routingNumber
      x-accepts: application/vnd.api+json; charset=utf-8
  /fees:
    post:
      description: 'Create a Fee via API '
      operationId: CreateFee_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateFeeViaApiRequest'
        description: Create Fee Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateFeeViaApiResponse'
          description: Successful Response
      summary: Create Fee
      tags:
      - Create Fee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--fees
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits:
    get:
      description: 'Get List Check Deposits from API '
      operationId: GetListCheckDeposits_fromApi
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/paths/~1cards/get/parameters/0/schema'
        style: form
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/GetListCheckDeposits_fromApi_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCheckDepositsFromApiResponse'
          description: Successful Response
      summary: Get List Check Deposits
      tags:
      - Get List Check Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--check-deposits
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Check Deposit via API '
      operationId: CreateCheckDeposit_viaApi
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCheckDepositViaApiRequest'
        description: Create Check Deposit Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCheckDepositViaApiResponse'
          description: Successful Response
      summary: Create Check Deposit
      tags:
      - Create Check Deposit
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--check-deposits
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits/{checkDepositId}:
    get:
      description: 'Get a Check Deposit from API '
      operationId: GetCheckDeposit_byId
      parameters:
      - description: ID of the check deposit to get
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCheckDepositByIdResponse'
          description: Successful Response
      summary: Get Check Deposit by Id
      tags:
      - Get Check Deposit
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--check-deposits-checkDepositId
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Check Deposit via API '
      operationId: UpdateCheckDeposit_byId
      parameters:
      - description: ID of the check deposit to update
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCheckDepositByIdRequest'
        description: Update Check Deposit Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCheckDepositByIdResponse'
          description: Successful Response
      summary: Update Check Deposit
      tags:
      - Update Check Deposit
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--check-deposits-checkDepositId
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits/{checkDepositId}/confirm:
    post:
      description: 'Confirm a Check Deposit from API '
      operationId: ConfirmCheckDeposit_byId
      parameters:
      - description: ID of the check deposit to confirm
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ConfirmCheckDepositByIdResponse'
          description: Successful Response
      summary: Confirm by Id
      tags:
      - Confirm Check Deposit
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--check-deposits-checkDepositId-confirm
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/front:
    get:
      description: 'Get Front Check Deposit Image from API '
      operationId: GetCheckDepositFrontImage_byId
      parameters:
      - description: ID of the check deposit to get
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCheckDepositFrontImageByIdResponse'
          description: Successful Response
      summary: Get Front Check Deposit Image by Id
      tags:
      - Get Check Deposit Front Image
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--check-deposits-checkDepositId-front
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/back:
    get:
      description: 'Get Back Check Deposit Image from API '
      operationId: GetCheckDepositBackImage_byId
      parameters:
[...]
